@font-face {
    font-family: "Caslon Semi_Bold";
    src: url(./items/Font/F37Caslon-SemiBoldDisplay.otf);
}

@font-face {
    font-family: "Caslon Regular";
    src: url(./items/Font/F37Caslon-RegularDisplay.otf);
}

@font-face {
    font-family: "Caslon ExtraBold";
    src: url(./items/Font/F37Caslon-ExtraBoldDisplay.otf);
}

*{
    padding : 0px;
    margin : 0px;
    
}


body{
    background-image: url('./items/fond2.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    margin-top: 0;

    font-family: "Caslon Regular";


}

body section{
    display: flex;
    justify-content: center;
    align-items: start;
}

h1{    
    font-size: 3em;
  color: #ffffff;
    background-color: #623a2ebe;
    padding: 1em;
    border-radius: 15px;
    text-align: center;
    width: 50%;
    
}

.titre{
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulaire{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 12px 3px #000000;
    width: 500px;
    height: auto;
    margin-top:  5%; 
    margin-bottom: 20%;
    text-align: center;
    border-radius: 2REM;
    background: rgb(252,230,207);
    background: linear-gradient(212deg, rgba(252,230,207,1) 18%, rgba(223,87,35,1) 92%);
    /* background-image: url('./items/fond2.jpg'); */
    border: #ffffff solid;
    padding : 2em
   
}

label{
    font-size: 1.8em;
}


div{
    display : flex;
    flex-direction: column;
    margin : 2%;
    text-align: center;
}


div input{
border-radius: 2REM;
padding: 1rem;
border-style: none;
text-align: center;
}



form input#submit{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    height : 1REM;
    padding: 1rem;
    text-align: center;
    margin-top: 15%;
    height: 100%;
    background-color: #45b398;
    transition: ease-in-out 0.5s;
    font-size: 1.5em;
    cursor: pointer;
}

input#submit:hover{
    color: black;
    background-color: #fce6cf;
    transform: scale(110%);
    box-shadow: 0px 0px 30px #623a2e;
}



