@font-face {
    font-family: "Caslon Semi_Bold";
    src: url(./items/Font/F37Caslon-SemiBoldDisplay.otf);
}

@font-face {
    font-family: "Caslon Regular";
    src: url(./items/Font/F37Caslon-RegularDisplay.otf);
}

@font-face {
    font-family: "Caslon ExtraBold";
    src: url(./items/Font/F37Caslon-ExtraBoldDisplay.otf);
}

*{
    padding : 0px;
    margin : 0px;

}

ul ul {
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
}

ul li:hover > ul {
    display: block;
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

li:hover{
    color: #df5723;
}

header{
    background-color: #45b398;
    padding: 20px;
    text-align: center;
}

/* Style du menu */
header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    position: relative;
}

header nav ul li a {
    display: block;
    padding: 10px 20px 2px 20px;
    color: #000;
    text-decoration: none;
}

header nav ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    padding: 0;
    transition: ease-in-out 0.5s;
}

header nav ul ul li {
    width: 100%;
    display: block;
    transition: ease-in-out 0.5s;
}

header nav ul ul li:hover {
    background-color:#df5723;
    color: #fff;
}

header nav ul ul li a {
    padding: 10px 40px;
}

nav{
    display: flex;
}
nav li{
    transition: ease-in-out 0.1s;
    padding-bottom: 1px;
}
nav li:hover{
    border-bottom: 3px solid rgb(0, 0, 0);
}

body{
    background-image: url('./items/fond_connexion.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    
    margin-top: 0;

  
    font-family: "Caslon Regular";


}
section {
    display: flex;
    justify-content: center;
    align-items: start;
}



form {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    box-shadow: 1px 1px 12px 3px #000000;
    width: 700px;
    height: 500px;
    margin-top:  10%; 
    margin-bottom: 20%;
    text-align: center;
    border-radius: 2REM;
    background: rgb(252,230,207);
    /* background-image: url('./items/fond2.jpg'); */
    border: #ffffff solid;
   
}

#titre{
    color: #ffffff;
    text-shadow: 0px 0px 40px rgb(214, 212, 212);
    background-color: #df5723;
    width: 100%;
    margin: 0;
    border-radius: 2rem  2rem  0px  0px;
    font-family: "Caslon ExtraBold";
    font-size: 2em;
    
}

input#submit{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    height : 1REM;
    padding: 1rem;
    text-align: center;
    margin-top: 5%;
    height: 100%;
    background-color: #45b398;
    transition: ease-in-out 0.5s;
    font-size: 1.5em;
    cursor: pointer;
    width: 40%;
    border-style: none;
}

input#submit:hover{
    color: black;
    background-color: #df5723;
    transform: scale(110%);
    box-shadow: 0px 0px 30px #623a2e;
    border : none;
}

#corps_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: center;
}
.element{
    display: flex;
    flex-direction: column;
}
div #corps_form{
    padding: 0.5EM;
}

form input{
    color: white;
    background-color: #7a6d5f;
    font-family: "Caslon Regular";
    border-radius: 15px;
text-align: center;
    padding: 1em;
    font-size: 0.6em;
    border-style: none;
    box-shadow: 0px 0px 20px #7a6d5f;
}

input::placeholder{
    color: white;
    text-align: center;
}
.element{
    width: 100%;
    font-size: 2em;
}


.error {
    color:red;
    font:bold;
    font-size:1.5em;
}