*{
    padding : 0px;
    margin : 0px;
}

body{
    background-image: url('./items/fond_connexion.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.chambres{
    background-color: antiquewhite;
    margin: 5%;
    padding: 5%;
}

.carte_chambre{
    background-color: aliceblue;
    margin: 5%;
}

